/* Existing CSS styles */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    padding: 10px; /* Added padding for mobile */
}

.container {
    text-align: center;
    max-width: 100%; /* Changed max-width for mobile */
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#wordContainer {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: center;
    margin-top: 20px;
    overflow-x: auto; /* Allow horizontal scrolling */
}

.word {
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em; /* Ensure text is readable on mobile */
    white-space: nowrap; /* Ensure individual words don't wrap
